# Dependency directories
node_modules/

# Artifacts
dist
lib

# Local artifacts
.vscode
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Obsidian artifacts
test-vault/attachments/*
test-vault/.obsidian/*
!test-vault/.obsidian/community-plugins.json

test-vault/.obsidian/plugins/*
!test-vault/.obsidian/plugins/hot-reload/*
test-vault/.obsidian/plugins/attachments-cache/*
!test-vault/.obsidian/plugins/attachments-cache/.hotreload
!test-vault/.obsidian/plugins/attachments-cache/data.json
